<div class="container">
  
  <h1>ジャンル一覧・追加</h1>
  <% if @genre.errors.any? %>
    <%= @genre.errors.count %>件のエラーが発生しました。
    <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  
  <%= form_with model: @genre do |f| %>
    <%= f.label :name, 'ジャンル名' %>
    <%= f.text_field :name, placeholder:"ジャンル名" %>
    <span><%= f.submit '新規登録' %></span>
  <% end %>
  
  <table>
    
    <tr>
      <th>ジャンル</th>
    </tr>
    
  <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to '編集する', edit_genre_path(genre.id) %></td>
    </tr>
  <% end %>
  </table>
</div>
