<div class="container"> 
  <h1>会員情報編集</h1>
  
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  
  <%= form_with model: @customer, url: customers_update_path, method: :patch, local: true do |f| %>
    <span>名前</span>
    <%= f.label :last_name, "（姓）" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <%= f.label :first_name, "（名）" %>
    <%= f.text_field :first_name, autofocus: true %>
    <br>
  
    <span>フリガナ</span>
    <%= f.label :last_name_kana, "（セイ）" %>
    <%= f.text_field :last_name_kana, autofocus: true %>
    <%= f.label :first_name_kana, "（メイ）" %>
    <%= f.text_field :first_name_kana, autofocus: true %>
    <br>
  
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
     <br>
  
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code %>
     <br>
  
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
    <br>
  
    <%= f.label :telephone_number, "電話番号（ハイフンなし）" %>
    <%= f.telephone_field :telephone_number %>
    <br>
  
    <div class="row">
      <div class="col-lg-3">
        <%= f.submit "変更内容を保存" , class: "btn btn-success"%>
      </div>
      <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger m-1" %>
    </div>
  <% end %>
  
</div>