<div class="container">
  <h1>注文情報確認</h1>

  <%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <div class="row">

      <div class="col">
        <table class="table table-bordered">

          <thead>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </thead>
          
          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size: "50x50" %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
              <td><%= cart_item.amount %></td>
              <!--小計の計算-->
              <td><%= (cart_item.item.with_tax_price * cart_item.amount).to_s(:delimited) %></td>
            </tr>
            <% end %>
          </tbody>

        </table>
      </div>

      <div class="col">
        <table class="table table-bordered">
          <tr>
            <td>送料</td>
            <td><%= @order.postage %>円</td>
            <%= f.hidden_field :postage, :value => @order.postage %>
          </tr>
          <tr>
            <td>商品合計</td>
            <td><%= @total.to_s(:delimited) %>円</td>
            <%= f.hidden_field :payment, :value => @total %>
          </tr>
          <tr>
            <td>請求金額</td>
            <td><%= (@total + @order.postage).to_s(:delimited) %>円</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <p>支払い方法</p>
      <%= @order.payment_method_i18n %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    </div>

    <div class="row">
      <p>お届け先</p>
      <%= @order.address_display %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :postal_code, :value => @order.postal_code %>
      <%= f.hidden_field :address_name, :value => @order.address_name %>
      <br>
      <%= @order.address_name %>
    </div>
    <%= f.submit "注文を確定する" %>
  <% end %>
</div>