<div class="container">
  
  <h1>注文情報入力</h1>
  
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  
  <%= form_with model: @order, url: orders_check_path, method: :GET do |f| %>
  
    <p>支払い方法</p>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    <br>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

    <p>お届け先</p>
    <%= f.radio_button :select_address, 0 %>
    <%= f.label :select_address_0, "ご自身の住所" %>
    <br>
    〒<%= current_customer.postal_code %>
    <!--郵便番号-->
    <%= current_customer.address %><br>
    <!--住所-->
    <%= current_customer.last_name %><%= current_customer.first_name %>
    <!--名前-->
    <br>

    <%= f.radio_button :select_address, 1 %>
    <%= f.label :select_address_1, "登録済住所から選択" %>
    <br>
    <%= f.select :address_id, options_from_collection_for_select(current_customer.shipping_addresses.all, :id, :address_display) %>
    <br>
    
    <%= f.radio_button :select_address, 2 %>
    <%= f.label :select_address_2, "新しいお届け先" %>
    <br>
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code, placeholder:"0000000" %>
    <br>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", size: "30x30" %>
    <br>
    <%= f.label :address_name, "宛名" %>
    <%= f.text_field :address_name, placeholder:"令和道子" %>
    <br>
    
    <%= f.submit "確認画面へ進む"%>
    
  <% end %>
</div>
