<div class="container">
  <h1>商品一覧</h1>
  <span>(全<%= @items.count %>件)</span>
  <br>
  
  <% @items.each do |item| %>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, size: "150x150" %>
    <% end %>
    <span><%= item.name %></span>
    <span>￥<%= item.price %></span>
    
    <br>
  <% end %>
  
  
</div>
