<div class="container">
  <h1>配送先編集</h1>
  
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  
  <% if @shipping_address.errors.any? %>
    <%= @shipping_address.errors.count %>件のエラーが発生しました。
    <% @shipping_address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  
  <%= form_with model: @shipping_address, url: shipping_address_path, method: :patch do |f| %>
    <%= f.label :postal_code, "郵便番号（ハイフンなし）"%>
    <%= f.text_field :postal_code %>
    <br>
    <%= f.label :address, "住所"%>
    <%= f.text_field :address, :size=>"40" %>
    <br>
    <%= f.label :address_name, "宛名"%>
    <%= f.text_field :address_name %>
    <br>
    <%= f.submit "変更内容を保存" %>
  <% end %>
  
</div>